 *{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
}
#icon{
    width: 30px;
    cursor: pointer;
}
:root{
    --primary-colour:black;
    --secondary-colour:orange;
}

.darkmode{
    align-items: flex-end;
}
.small-image {
    width:150px;
    height:Auto;
    padding-bottom: 600px;
    align-items:center;
    justify-content:center;
}
.purposecontrol{
    height: 40px;
}
.container{
    width: 200%;
    max-width: 1000px;
    background:rgba(217, 169, 230, 0.803);
    padding: 30px;
    margin: 50 50px;
    border-radius: 10px;
    box-shadow: inset 4px 4px 4px white ;
    color: black;
    height:800px;
}
.formtitle{
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 2px white;
}
h4{
    font-size: 13px;
    padding:10px;
    font-weight: lighter;
}
h3{
    font-size: 20px;
    padding: 10px;
    text-shadow: 2px 2px 2px white;
    
}
#purpose{
    padding:8px;
    border-radius:10px;
    color: rgb(101, 14, 162);
    font-weight: bold;
}
.clientinfo{
    display: flex;
    padding:10px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.inputcontrol{
    width:350px;
    height: 50px;
    padding:10px;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 2px 2px black;
    margin-top: 5px;
    
   
}
.schedule{
    padding: 10px ;
    border-radius: 8px;
}
.summitform{
    padding: 70px;
   text-align: center;
  
}
.sumitcontrol{
    width:150px;
    height: 45px;
    padding:10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    margin-top:-10px;
}
.genderbox{
    display: block;
    font-weight:bold;
    text-align: left;
}